*{
    margin: 1rem 0rem;
    outline: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

article{
    margin: 2rem;
    border: 2px solid black;
}

header{
    display: flex;
    justify-content: center;
    background: lightgrey;
    text-transform: uppercase;
    margin: 20px 0px;
}

img{
    height: 250px;
    width: 250px;
}

p:first-of-type{
    text-transform: uppercase;
}

h3{
    text-transform: uppercase;
}

ul{
    padding: 0rem 2rem;
}

button{
    text-transform: uppercase;
    color: white;
    background: black;
    font-size: 20px;
    border: 2px solid black;
    padding: .5rem 2rem;
    transition: .2s ease;
    margin: 1rem 0;
}

button:hover{
    color: black;
    border: 2px solid black;
    background: white;
    cursor: pointer;
}
